@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;700&display=swap');


        body {
            font-family: 'Gill Sans';
            margin: 0;
            padding: 0;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        h2{
            color: rgb(14, 35, 59);
        }
        .container {
            display: flex;
            width: 80%;
            background-color: #f2f2f2;
        }
        
        
        .left-column {
            width: 30%;
            padding: 10px;
            background-color: #C78283;
            color: rgb(14, 35, 59);
            text-align: justify;
        }

        .left-column h2{
            color: white;
            font-family: 'Oswald';
        }
        
        .left-column p:not(p:first-of-type){
            color: white;
        }

        .left-column p{
            font-family: 'Oswald';
        }
        
        .right-column {
            width: 70%;
            padding: 20px;
            text-align: justify;
            background-color: #F3D9DC;
        }
        .profile-picture {
            max-width: 100%;
            height: 40vh;
            border-radius: 10%;
        }

        .right-column .row{
            display: flex;
            flex-direction: column;
            font-family: 'Oswald';
        }

