@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
}

/* Estilos en lo general*/
h2 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 50px;
}

h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 500;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;

}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

/* Estilos las clases*/

.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.large {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 20px;
    padding: 15px 40px;
    letter-spacing: 1px;
    transition: .5s ease;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.btn-outline:hover {
    background: #fff;
    color: black;
}

/* Navbar */
#navbar {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainheader {
    background-color: rgb(19, 78, 85);
}

#navbar a {
    color: rgb(248, 245, 245);
    border-radius: 10px;
    border-bottom: #fff;
    transition: .5s ease;
}

#navbar .Logo {
    float: left;
}

#navbar img {
    height: 70px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 2px 10px black;
}

#navbar ul {
    list-style: none;
    float: right;
}


#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 25px;
    text-align: center;
}

.yo {

    position: absolute;
    top: 46%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: auto;
    box-shadow: 5px 2px 10px white;
}

/* showcase*/
#Showcase {
    background: url('/IMG/Inicio.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
    text-align: center;
    padding-top: 680px;
}



/* Certificados*/

#Certificados {
    padding: 80px 0;
}

.Certificados-row {
    display: flex;
}

.certificados-row-certificado1,
certificados-row-certificado2 {
    width: 500%;
    padding-left: 50px;
}

/* About */
#about_me {
    padding: 80px 0;
    background-color: rgb(53, 68, 71);
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 2px 10px black;
}

.about-row {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 2px 10px black;
}

.about-row-experience,
.about-row-me,
.about-row-datos {
    width: 33%;
    padding-left: 50px
}


/* CONTACT */

#Contact {
    padding: 80px 0;
}

.contact-row {
    display: flex;

}

.contact-row-icon {
    width: 50%;
    text-align: center;
}

.contact-row-icon img {
    height: 60px;
}

.redes {
    text-align: center;
}

.container .redes i {
    color: #000000;
    font-size: 50px;
    margin-right: 10px;
    transition: 0.5s;
    height: 100px;
}

.container .redes i:hover {
    color: rgb(19, 78, 85);;

}
    
   