body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    text-align: left;
    background-color: #aedbb5;
    color: black;
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-stretch: extra-expanded;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: larger;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik', sans-serif;
}

.left-panel {
    flex: 1;
    width: 40%;
    background-color: #bacdb0;
    padding: 20px;
    box-sizing: border-box;
}

.right-panel {
    flex: 1.6;
    background-color: #f3e8ee;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 0px;
}

.left ul, ol {
    list-style: none;
    padding-left: 80px;
}

.left li {
    margin-bottom: 0.5rem;
}

.right ul{
    padding-left: 80px;
}

.experiencia h3 {
    margin-top: 1rem;
}

.image-container {
    display: flex;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-right: 15px;
    opacity: 0.7;
    /* Ajusta el espacio entre la imagen y el texto */
}

.text-overlay {
    display: flex;
    align-items: center;
    font-size: 18px;
    /* Ajusta el tamaño del texto según lo necesario */
}

.nigga {
    font-weight: 700;
}

.bullet{
    list-style-type: disc;
}

.perfil{
    line-height: 1.9;
}

#cursos {
    font-size: larger;
}

#padding{
    padding-left: 80px;
}

