*{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}

body{
    background-color: #fffffa;
    font-family: "JetBrains Mono", monospace;
}

header{
    background-color: rgb(54, 54, 54);
    color: #fff;
    margin-bottom: 30px;
}

footer{
    background-color: rgb(54, 54, 54);
    width:95%;
    margin: auto;
    color: #fff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

img{
    border-radius: 10px;
}

#logo > img{
    margin: 5px;
    margin-left: 20px;
    float: left;
}
#logo > h1{
    font-size: 50px;
    line-height: 80px;
    float: left;
}
header nav{
    float: right;
    line-height: 80px;
}
header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
}

header nav a:hover{
    background-color: orange;
}

article{
float: left;
width: 72%;
}
aside{
    width: 20%;
    float: right;
    padding: 60px 25px 100px 50px;
    background-color: rgb(54, 54, 54);
    color: #fff;
}
aside a{
    color: #fff;
}
